@use "./functions.scss" as *;
@use "./colors.scss" as *;
@use "./media.scss" as *;

.navbar {
	background: map-get($colors, "gradient");
	padding-inline: px-to-rem(24px);
	min-height: px-to-rem(44px);
	font-family: helvetica;
	display: flex;
	align-items: stretch;
	user-select: none;
	font-size: px-to-rem(12px);
	justify-content: space-between;
	gap: px-to-rem(24px, 1em);

	.logo {
		align-self: center;
	}

	&_1 {
		display: flex;
		gap: px-to-rem(16px);
	}

	.left {
		display: flex;
		gap: px-to-rem(24px);
	}

	&_search__container {
		display: flex;
		align-self: center;
		@include custom-media-query("mobile", 1010px) {
			display: none;
		}
	}

	&_search__input {
		all: unset;
		&::placeholder {
			color: map-get($colors, "gray-400");
		}
		padding: px-to-rem(4px, 1em) px-to-rem(8px, 1em);
		background-color: #fff;
	}

	&_search__button {
		transition: all 0.2s ease-in-out;
		background-color: map-get($colors, "blue");
		color: #fff;
		border: none;
		padding-inline: px-to-rem(24px, 1em);
		cursor: pointer;

		&:is(:hover) {
			background-color: darken(map-get($colors, "blue"), $amount: 10);
		}
	}

	.dropdown {
		color: white;
		position: relative;

		display: grid;
		place-items: left;
		flex-basis: clamp(10px, 100%, 136px);
		cursor: pointer;

		@include custom-media-query("mobile", 1010px) {
			display: none;
		}

		&_label {
			display: flex;
			align-items: center;
			padding-inline-start: px-to-rem(12px);
			p {
				white-space: nowrap;
			}
		}

		&_menu {
			display: none;
			text-align: center;
		}

		&:is(:hover, :focus) .dropdown_menu {
			display: block;
			position: absolute;
			width: 100%;
			margin: 0;
			top: 100%;
			& li {
				background: map-get($colors, "gradient");
				padding-block: px-to-rem(8px);
				text-align: left;
				padding-inline-start: px-to-rem(12px);
				&:hover {
					background: map-get($colors, "gradient-2");
				}
			}
		}
	}
	.mobile {
		@include custom-media-query("desktop", 1010px) {
			display: none;
		}
		display: flex;
		align-items: center;
		gap: 4px;
		color: #fff;
		.m-icon {
			fill: rgb(255, 255, 255);
		}
	}
	.m-open {
		@include custom-media-query("desktop", 1010px) {
			display: none;
		}
		display: flex;
		align-items: center;
		gap: 4px;
		color: rgb(206, 206, 206);
		.m-icon {
			fill: rgb(206, 206, 206);
		}
	}
}
.bottom {
	display: none;
	font-family: helvetica;
	font-size: 12px;
	color: #fff;
	transition: all 0.2s ease-in-out;

	&:has(input[type="checkbox"]:checked) {
		svg {
			rotate: 0deg;
		}
	}
	ul {
		margin: 0;
		li {
			background: map-get($colors, "light-green");
			padding: px-to-rem(8px, 1em) px-to-rem(16px, 1em);
			border-bottom: 1px solid #70a306;
		}
	}

	input[type="text"] {
		color: black !important;
	}

	input[type="radio"] {
		display: none;

		&:checked + ul {
			display: block;
		}
	}
	ul {
		display: none;
	}
	.dropdown_label {
		padding: px-to-rem(16px, 1em);
		display: flex;
		justify-content: space-between;
		background: map-get($colors, "gradient");
		align-items: center;

		svg {
			rotate: 270deg;
		}
	}
}
.open {
	display: block;
	@include custom-media-query("desktop", 1010px) {
		display: none;
	}
}
