@use "./functions.scss" as *;
@use "./colors.scss" as *;

.navbar {
	background: map-get($colors, "gradient");
	padding-inline: px-to-rem(24px);
	min-height: px-to-rem(45px);
	font-family: helvetica;
	display: flex;
	align-items: center;
	user-select: none;
	padding-block: px-to-rem(4px);

	&_search__container {
		display: flex;
	}

	&_search__input {
		all: unset;
		&::placeholder {
			color: map-get($colors, "gray-400");
		}
		padding: px-to-rem(4px) px-to-rem(8px);
		background-color: #fff;
	}

	&_search__button {
		transition: all 0.2s ease-in-out;
		background-color: map-get($colors, "blue");
		color: #fff;
		border: none;
		padding-inline: px-to-rem(24px);
		cursor: pointer;
		&:hover {
			background-color: darken(map-get($colors, "blue"), $amount: 10);
		}
	}
}
