/* Box sizing rules */
* *::before *::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "helvetica";
  src: url("../assets/fonts/Helvetica.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
body {
  font-family: helvetica;
}

.navbar {
  background: linear-gradient(180deg, #b6ce4d 0%, #70a306 100%);
  padding-inline: 1.5rem;
  min-height: 2.75rem;
  font-family: helvetica;
  display: flex;
  align-items: stretch;
  user-select: none;
  font-size: 0.75rem;
  justify-content: space-between;
  gap: 1.5em;
}
.navbar .logo {
  align-self: center;
}
.navbar_1 {
  display: flex;
  gap: 1rem;
}
.navbar .left {
  display: flex;
  gap: 1.5rem;
}
.navbar_search__container {
  display: flex;
  align-self: center;
}
@media (max-width: 1010px) {
  .navbar_search__container {
    display: none;
  }
}
.navbar_search__input {
  all: unset;
  padding: 0.25em 0.5em;
  background-color: #fff;
}
.navbar_search__input::placeholder {
  color: #9ca3af;
}
.navbar_search__button {
  transition: all 0.2s ease-in-out;
  background-color: #008cba;
  color: #fff;
  border: none;
  padding-inline: 1.5em;
  cursor: pointer;
}
.navbar_search__button:is(:hover) {
  background-color: #006687;
}
.navbar .dropdown {
  color: white;
  position: relative;
  display: grid;
  place-items: left;
  flex-basis: clamp(10px, 100%, 136px);
  cursor: pointer;
}
@media (max-width: 1010px) {
  .navbar .dropdown {
    display: none;
  }
}
.navbar .dropdown_label {
  display: flex;
  align-items: center;
  padding-inline-start: 0.75rem;
}
.navbar .dropdown_label p {
  white-space: nowrap;
}
.navbar .dropdown_menu {
  display: none;
  text-align: center;
}
.navbar .dropdown:is(:hover, :focus) .dropdown_menu {
  display: block;
  position: absolute;
  width: 100%;
  margin: 0;
  top: 100%;
}
.navbar .dropdown:is(:hover, :focus) .dropdown_menu li {
  background: linear-gradient(180deg, #b6ce4d 0%, #70a306 100%);
  padding-block: 0.5rem;
  text-align: left;
  padding-inline-start: 0.75rem;
}
.navbar .dropdown:is(:hover, :focus) .dropdown_menu li:hover {
  background: linear-gradient(180deg, #b6ce4d 0%, #70a306 60%);
}
.navbar .mobile {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #fff;
}
@media (min-width: 1010px) {
  .navbar .mobile {
    display: none;
  }
}
.navbar .mobile .m-icon {
  fill: rgb(255, 255, 255);
}
.navbar .m-open {
  display: flex;
  align-items: center;
  gap: 4px;
  color: rgb(206, 206, 206);
}
@media (min-width: 1010px) {
  .navbar .m-open {
    display: none;
  }
}
.navbar .m-open .m-icon {
  fill: rgb(206, 206, 206);
}

.bottom {
  display: none;
  font-family: helvetica;
  font-size: 12px;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.bottom:has(input[type=checkbox]:checked) svg {
  rotate: 0deg;
}
.bottom ul {
  margin: 0;
}
.bottom ul li {
  background: #b6ce4d;
  padding: 0.5em 1em;
  border-bottom: 1px solid #70a306;
}
.bottom input[type=text] {
  color: black !important;
}
.bottom input[type=radio] {
  display: none;
}
.bottom input[type=radio]:checked + ul {
  display: block;
}
.bottom ul {
  display: none;
}
.bottom .dropdown_label {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, #b6ce4d 0%, #70a306 100%);
  align-items: center;
}
.bottom .dropdown_label svg {
  rotate: 270deg;
}

.open {
  display: block;
}
@media (min-width: 1010px) {
  .open {
    display: none;
  }
}

.posts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}
@media (min-width: 1010px) {
  .posts {
    grid-template-columns: repeat(6, auto);
  }
}
@media (max-width: 500px) {
  .posts {
    grid-template-columns: repeat(2, auto);
  }
}

.container {
  max-width: 75rem;
  margin: auto;
  padding: 0 1rem;
}

.post_0 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 32px;
}

.post_1 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 32px;
}

.post_2 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 32px;
}

.post_3 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 32px;
}

.post_4 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 32px;
}

.post_5 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 32px;
}

.post_6 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 26px;
}

.post_7 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 26px;
}

.post_8 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 26px;
}

.post_9 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 26px;
}

.post_10 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 26px;
}

.post_11 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 26px;
}

.post_12 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 20px;
}

.post_13 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 20px;
}

.post_14 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 20px;
}

.post_15 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 20px;
}

.post_16 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 20px;
}

.post_17 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 20px;
}

.post_18 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 16px;
}

.post_19 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 16px;
}

.post_20 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 16px;
}

.post_21 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 16px;
}

.post_22 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 16px;
}

.post_23 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 16px;
}

.post_24 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_25 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_26 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_27 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_28 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_29 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_30 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_31 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_32 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_33 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_34 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_35 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_36 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_37 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_38 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_39 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_40 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_41 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_42 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_43 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_44 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_45 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_46 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_47 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_48 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_49 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_50 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_51 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_52 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_53 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_54 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_55 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_56 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_57 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_58 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_59 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_60 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_61 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_62 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_63 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_64 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_65 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_66 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_67 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_68 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_69 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_70 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_71 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_72 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_73 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_74 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_75 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_76 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_77 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_78 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_79 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

.post_80 {
  padding: 0.5em;
  background-color: #5a52e9;
  color: #fff;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
